form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 20px 30px;
  flex-direction: column;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, rgba(2, 2, 46, 1) 0%, rgba(2, 4, 13, 1) 100%);
  -webkit-box-shadow: 0px 0px 50px 30px #2f00ff;
  -moz-box-shadow: 0px 0px 50px 30px #3700ff;
  box-shadow: 0px 0px 50px 30px #0033ff;
  text-align: start;
  width: fit-content;
}
.forms {
  border-radius: 20px;
  /* width: fit-content; */
  padding: 20px;
  width: fit-content;

  /* background-color: ; */
}

button{
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    padding: 20px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 3 ease-in-out;
    width: 90px;

}
button:hover{
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
     color: #eee;
    box-shadow:0px 5px 10px rgb(44, 44, 60);
    width: 80px;
}