    /* Services Section */
#services{
    margin: 34px;
    display: flex;
    
}
#services .box{
        
        border: 2px solid rgb(114, 9, 9);
        padding: 34px;
        margin: 2px 6px;
        border-radius: 24px;
        background-color: rgb(243, 235, 235);
        margin-bottom: 24px;
}
#services .box img{
        height: 160px;
        margin: auto;
        display: block;
}
#services .box p{
        font-family: 'Poppins', sans-serif;
    
}