.form{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    font-size: 1.5rem;

   
}
h1{
    font-size: 62px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 span {
    font-size: 52px;
    background: -webkit-linear-gradient(#eee, #3e3d3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button{
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 3 ease-in-out;
}
button:hover {
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
     color: #eee;
    box-shadow:0px 5px 10px rgb(23, 23, 32);
}
@media screen and (min-width: 480px) {
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  }